caffe_path = "/home/mythxcq/work/rfcn/py-R-FCN/caffe/python"
lib_path = "/home/mythxcq/work/rfcn/py-R-FCN/lib"

UPLOAD_FOLDER = '/tmp/caffe_demos_uploads'
UPLOAD_FOLDER_DETECTED = '/tmp/caffe_demos_uploads_detected'
UPLOAD_FOLDER_DRAW = '/tmp/caffe_demos_uploads_draw'
